{% extends 'indexhome.html' %}


{% block content %}

<section class="section-conten padding-y bg" style="margin-top: 5%;">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	
	<main class="col-md-11">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your order history</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Order #</th>
					  <th scope="col">Cancel</th>
				      <th scope="col">Billing Name</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Order Total</th>
					  <th scope="col">Date</th>
					  <th scope="col">Status</th>
					  <th scope="col">Payment</th>
					  <th scope="col">Cancel</th>
					  
					  
				    </tr>
				  </thead>
				  <tbody>
						{% for order in orders %}
				    <tr>
						{% for product in ordersproducts %}
						{% if order.order_number == product.order_number%}
						<h1>{{ product.product_name }}</h1>
						<th><img class="img-fluid" src="{{ product.product.images.url }}" alt=""></th>
						{% endif %}
						{% endfor %}
				      <th scope="row"><a href="{% url 'order_detail' order.id %}">{{order.order_number}}</a></th>
				      <td>{{order.user.full_name}}</td>
				      <td>{{order.Shipping.phone}}</td>
				      <td>${{order.order_total}}</td>
					   <td>{{order.created_at}}</td>
					   <td>{{order.status}}</td>
					   <td>{{order.payment_mode}}</td>
					   <td>
						<!-- <form action="{% url 'cancel_order' order.id %}" method="POST">  -->
							
							{% csrf_token %}
							
							<input type="hidden" class="can" value="{{order.id}}">
							{% if order.status == 'Cancelled'  %}
							<p>order Cancelled</p>

							{% elif order.status == 'Delivered' %}
							<button type="submit" id="cancel-btn"  class="btn btn-outline-info "><a href="{% url 'return_order' order.id %}">Return</a></button>
							{% else %}
							<button type="submit" id="cancel-btn"  class="btn btn-outline-danger ">Cancel</button>
							
							{% endif %}
						  <!-- </form> -->
					   </td>
					   
				    </tr>
				{% endfor %}

				  </tbody>
				</table>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

<script>
    function showConfirm() {
      var confirmed = confirm("Are you sure you want to Block this User?");
  
      if (confirmed) {
          // Perform the action if the user clicks "OK"
      } else {
          // Cancel the action if the user clicks "Cancel"
      }
  }


  function confirmDelete() {
	
}

  
  </script>

{% endblock %}