{% extends 'indexhome.html' %}
{% load static %}

{% block content %}







<section class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            {% include 'includes/alerts.html' %}
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-6 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1 ">Image</th>
                                <th class="column-2">Product</th>
                                <th class="column-3">Quantity</th>
                                <th class="column-4 ">Price</th>
                           
                               
                                
                            </tr>
                            {% for cart_item in cart_items %}
                            <div class="product_data">
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{ cart_item.product.images.url }}" alt="IMG">
                                    </div>
                                </td>
                                
                                <td class="column-2">
                                   
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">
                                           
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </td>
           

                                <td class="column-3">
                                    
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                        <button class="btn btn-light update" onclick="quantity_minus('{{cart_item.id}}','{{ cart_item.product.price }}')" > <i class="fa fa-minus"></i> </button>

                                        </div>
                                        <input type="text" class="form-control" id="{{cart_item.id}}" value="{{ cart_item.quantity }}">
                                        <div class="input-group-append">
                                           <button class="btn btn-light update" onclick="quantity_plus('{{cart_item.id}}','{{ cart_item.product.price }}')"> <i class="fa fa-plus"></i> </button>

                                        </div>
                                    </div> 
                              <h4><a href="{% url 'remove_cart' cart_item.id  %}">Remove Cart</a></h4>
                            </td>
                                <td class="column-4" id="{{cart_item.id}}price">₹{{ cart_item.product.price }}</td>
                                <!-- <td class="column-5"></td> -->

                                
                            </tr>
                        </div>
                      {% endfor %}
                          
                        </table>
                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        {% if cart_items.coupon == None %}

                        

                                
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <form action="{% url 'cart' %}" method="POST" style="display: flex;">
                            {% csrf_token %}
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
                                
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                               <button type="submit">Apply coupon</button> 
                            </div>
                        </div>
                        </form>

                        {% else %}
                       
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <button  class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5">{{code}}</button>
                                    <!-- <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="{{code}}"> -->
                                        
                                    <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                       <button type="submit">Coupon Applied</button> 
                                    </div>
                                </div>
                       {% endif %}
                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            <button type="submit"><a href="{% url 'remove_coupon' %}"> Remove Coupon</a></button> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                   
                    <!--================== -->
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                              <dt>Total price:</dt>
                              <dd class="text-right" id="totalR">₹ {{total}}</dd>
                            </dl>
                            <dl class="dlist-align">
                              <dt>Tax:</dt>
                              <dd class="text-right" id="taxR"> ₹ {{tax}}</dd>
                            </dl>
                           
                            <dl class="dlist-align">
                                <dt>Coupon Discount:</dt>
                                <dd class="text-right" id="discountR">₹{{discount}}</dd>
                              </dl>
                            
                            <dl class="dlist-align">
                              <dt>Grand Total:</dt>
                              <dd class="text-right text-dark b"><strong id="grandTotalR">₹ {{grand_total}}</strong></dd>
                            </dl>
                            <hr>
                            <!-- <p class="text-center mb-3">
                                <img src="{% static 'firstm/images/misc/payments.png' %}" height="26">
                            </p> -->
                            <div>

                             
                            </div>
                            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
                            <a href="{% url 'store_view' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </div> <!-- card-body.// -->
                        </div> 
                    <!-- ========================= -->
                    <!-- <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                    <a href="{% url 'checkout' %}"> Proceed to Checkout </a>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</section>
    

<script>
   
    function apply_coupon() {
        document.getElementById('discount').style.display = 'none'
        coupon = document.getElementById('coupon').value
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{csrf_token}}' },
        });
        $.ajax({
            url: '/user_validate_coupon',
            method: 'post',
            data: { 'coupon': coupon },
            success: function (response) {
                if (response['status'] == 'success') {
                    document.getElementById('message').innerText = ''
                    document.getElementById('update_discount').innerText = response['discount']
                    document.getElementById('update_discount_total').innerText = response['discount']
                    console.log('you have applied the coupon (from ajax)')
                    document.getElementById('discount').style.display = 'none'
                }
                else if (response['status'] == 'failed') {
                    console.log('wrong coupon')
                    alert('wrong coupon')
                    document.getElementById('message').innerText = ' wrong coupon '
                }
                else if (response['status'] == 'used') {
                    console.log('used coupon')
                    alert('used coupon')
                    document.getElementById('message').innerText = ' you can only use this coupon once. '
                }
            }
        })
        console.log(coupon)
    }
    function address_change(address_id) {
        choose_address_id = address_id
        // console.log(choose_address_id)
    }
</script>

<script>

    function quantity_minus(id) {
        let qty = document.getElementById(id).value;
        if(qty>1){
            quantity = document.getElementById(id + 'q')
            quantity = document.getElementById(id + 'q')
            $.ajaxSetup({
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.ajax({
                url: "/cart/updatecart",
                method: "post",
                data: { 'cart_id': id, 'quantity': quantity, 'task': 'minus' },
                success: function (data) {
                    document.getElementById(id).value=data['updated_quantity'];
                    let dataR = bill(document.getElementById(id+'price').innerHTML.slice(1),document.getElementById('totalR').innerHTML.slice(1).trim(),'minus');
                    document.getElementById('totalR').innerHTML ="₹ " + dataR.total;
                    document.getElementById('taxR').innerHTML = "₹ " + dataR.tax;
                    document.getElementById('grandTotalR').innerHTML = "₹ " + dataR.grandTotal;
                    
                },
               
            })
        } else {
            swal({
                title: "Oops!",
                text: "Click Remove Cart ",
                type: "failed"
            })
        }
    }

    
    function quantity_plus(id) {
        let qty = document.getElementById(id).value;
        if(qty<10){
            quantity = document.getElementById(id + 'q')
            quantity = document.getElementById(id + 'q')
            $.ajaxSetup({
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.ajax({
                url: "/cart/updatecart",
                method: "post",
                data: { 'cart_id': id, 'quantity': quantity, 'task': 'plus' },
                success: function (data) {
                    document.getElementById(id).value=data['updated_quantity'];
                    let dataR = bill(document.getElementById(id+'price').innerHTML.slice(1),document.getElementById('totalR').innerHTML.slice(1).trim(),'plus');
                    document.getElementById('totalR').innerHTML ="₹ " + dataR.total;
                    document.getElementById('taxR').innerHTML = "₹ " + dataR.tax;
                    document.getElementById('grandTotalR').innerHTML = "₹ " + dataR.grandTotal;
                    
                },
                error: function (){
                    swal({
                        title: "Oops!",
                        text: "Quantity limit Exceeded!",
                        type: "failed"
                    })
                }
            })
        } else {
            swal({
                title: "Oops!",
                text: "Quantity limit Exceeded!",
                type: "failed"
            })
        }
    }

    function bill(price,total,type){
        price = parseInt(price);
        if(type=='plus'){
            total = parseInt(total) + price;   
        }
        else {
            total = parseInt(total) - price;
        }
        let tax = parseFloat((total * 5 /100).toFixed(1));
        let grandTotal = total + tax;
        return {total:total,tax:tax,grandTotal:grandTotal}
    }
    
</script>
{% endblock %}





{% block scripts %}





{% endblock scripts %}
