{% extends 'indexhome.html' %}
{% load static %}

{% block content %}


<!-- breadcrumb -->
<!-- <div class="container " style="margin-top: 5%;">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="" class="stext-109 cl8 hov-cl1 trans-04">
            Men
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        
        <span class="stext-109 cl4">
            Lightweight Jacket
        </span>
    </div>
</div>
     -->

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="{{ single_product.images.url }}">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{ single_product.images.url }}" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- <div class="item-slick3" data-thumb="images/product-detail-02.jpg">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="images/product-detail-02.jpg" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="item-slick3" data-thumb="images/product-detail-03.jpg">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="images/product-detail-03.jpg" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
                
          
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <form action="{% url 'add_cart' single_product.id %}" method="POST" id="add-to-cart-form">
                        {% csrf_token %}
                        
                        <h1></h1>
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        Brand: {{single_product.brand}}
                    </h4>
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        {{ single_product.product_name }}
                    </h4>

                    <span class="mtext-106 cl2">
                        ₹ {{single_product.price}}
                    </span>

           
    
                       {% if single_product.stock <= 0 %}

                        <h5 class="text-danger flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Out of Stock</h5>


                        {% else %}

                        <div class="row">
                            <div class="item-option-select">
                                <h6>Choose Color</h6>
                                <select name="color" class="form-control" required>
                                    <!-- <option value="" disabled selected>Select</option> -->
                                    {% for i in single_product.variation_set.colors %}
                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item-option-select">
                                <h6>Select Size</h6>
                                <select name="size" class="form-control">
                                    <!-- <option value="" disabled selected>Select</option> -->
                                    {% for i in single_product.variation_set.sizes %}
                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <p class="stext-102 cl3 p-t-23">
                        
                          <span style="font-weight: bold;">Description : </span> {{ single_product.description }}
    
                        </p>
                        <div class="flex-w flex-r-m p-b-10">
                        
                            <div class="size-204 flex-w flex-m respon6-next">
                                
                               
                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail  addToCartBtn">
                                    Add to cart
                                </button>
                            </div>
                            </form>
                            {% endif %}
                        </div>	
                    </div>
                   
                    <!--  -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="bor10 m-t-50 p-t-43 p-b-40">
           
            <div class="tab01">
            
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item p-b-10">
                        <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
                    </li>

                    <li class="nav-item p-b-10">
                        <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
                    </li>
                </ul>

           
                
            </div>
        </div> -->
    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <span class="stext-107 cl6 p-lr-25">
            SKU: JAK-01
        </span>

        <span class="stext-107 cl6 p-lr-25">
            Categories: Jacket, Men
        </span>
    </div>
</section>













    
    
    










{% endblock %}