{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">
  <!-- Favicons -->
  <link href="{% static 'customadmin/img/favicon.png' %}" rel="icon">
  <link href="{% static 'customadmin/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.min.css" /> -->
  <!-- Vendor CSS Files -->
  <link href="{% static 'customadmin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'customadmin/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'customadmin/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-custoadmin-bootstrap-custoadmin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
     ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <img src="{% static 'customadmin/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">NITHIN Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      <!-- End Notification Nav -->
<!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user_management' %}">
          <i class="bi bi-person"></i>
          <span>User Managment</span>
        </a>
      </li><!-- End Profile Page Nav -->



      <!-- ==================================================================================== -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bx bxl-shopify"></i><span>Product Managment</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'product_manage' %}">
              <i class="bi bi-circle"></i><span>Product Details</span>
            </a>
          </li>
          <li>
            <a href="{% url 'add_product' %}">
              <i class="bi bi-circle"></i><span>Add Product</span>
            </a>
          </li>
          <li>
            <a href="{% url 'variations' %}">
              <i class="bi bi-circle"></i><span>Product Variants</span>
            </a>
          </li>
          <li>
            <a href="{% url 'addVariations' %}">
              <i class="bi bi-circle"></i><span>Add Product Variations</span>
            </a>
          </li>
         
        </ul>
      </li>
      <!-- ========================================================================================== -->

     
      <!-- ==================================================================================== -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bx bxs-cart"></i><span>Category Managment</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'category' %}">
              <i class="bi bi-circle"></i><span>Category Details</span>
            </a>
          </li>
          <li>
            <a href="{% url 'add_category' %}">
              <i class="bi bi-circle"></i><span>Add Category</span>
            </a>
          </li>
         
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-tags-fill"></i><span>Offer Managment</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'offer_product' %}">
              <i class="bi bi-circle"></i><span>Product Offer</span>
            </a>
          </li>
          <li>
            <a href="{% url 'offer_category' %}">
              <i class="bi bi-circle"></i><span>Category Offer</span>
            </a>
          </li>
         
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'brands' %}">
          <i class="bx bxs-badge-check"></i>
          <span>Brand</span>
        </a>
      </li>
      <!-- ========================================================================================== -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'orders' %}">
          <i class="bi bi-person"></i>
          <span>Order Managment</span>
        </a>
      </li><!-- End Profile Page Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'productsorderd' %}">
          <i class="bi bi-person"></i>
          <span>Ordered Products</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'coupon_mange' %}">
          <i class="bx bxs-certification"></i>
          <span> Coupon Manage </span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'sales' %}">
          <i class="bi bi-tag"></i>
          <span> Sales </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'adminlogout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Register Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li> -->
      <!-- End Login Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li> -->
      <!-- End Error 404 Page Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li> -->
      <!-- End Blank Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <!-- End Page Title -->
   
       <section class="section dashboard">
         <div class="row">
   
         
           {% block content %}
   
           {% endblock %}
    
   
         </div>
       </section>
   
     </main><!-- End #main -->
   
   
   


  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <!-- <div class="credits"> -->
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-customadmin-bootstrap-customadmin-html-template/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        <!-- </div> -->
      </footer><!-- End Footer -->
    

      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
 
      <!-- cropper -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
     
     
      <!-- Vendor JS Files -->
      <script src="{% static 'customadmin/vendor/apexcharts/apexcharts.min.js' %}"></script>
      <script src="{% static 'customadmin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'customadmin/vendor/chart.js/chart.min.js' %}"></script>
      <script src="{% static 'customadmin/vendor/echarts/echarts.min.js' %}"></script>
      <script src="{% static 'customadmin/vendor/quill/quill.min.js' %}"></script>
      <script src="{% static 'customadmin/vendor/simple-datatables/simple-datatables.js' %}"></script>
      <script src="{% static 'customadmin/vendor/tinymce/tinymce.min.js' %}"></script>
      <script src="{% static 'customadmin/vendor/php-email-form/validate.js' %}"></script>
    
      <!-- Template Main JS File -->
      <script src="{% static 'customadmin/js/main.js' %}"></script>
    <!-- =============================== -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
 
    <!-- cropper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">
    <!-- ============================================= -->
    
    <script>
      $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_image").change(function () {
          if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
              $("#image").attr("src", e.target.result);
              $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
          }
      });
  
      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
          $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
              $image.cropper("setCanvasData", canvasData);
              $image.cropper("setCropBoxData", cropBoxData);
          }
          });
      }).on("hidden.bs.modal", function () {
          cropBoxData = $image.cropper("getCropBoxData");
          canvasData = $image.cropper("getCanvasData");
          $image.cropper("destroy");
      });
  
      $(".js-zoom-in").click(function () {
          $image.cropper("zoom", 0.1);
      });
  
      $(".js-zoom-out").click(function () {
          $image.cropper("zoom", -0.1);
      });
  
      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
          var cropData = $image.cropper("getData");
          $("#id_x").val(cropData["x"]);
          $("#id_y").val(cropData["y"]);
          $("#id_height").val(cropData["height"]);
          $("#id_width").val(cropData["width"]);
          $("#formUpload").submit();
      });
  
      });
  </script>


    <!-- ======================== -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.min.js"></script>

    <!-- ============================= -->
    <script src="{% static 'js/checkout.js' %}"></script>
    <!-- ======================================== -->

    </body>
    
    </html>