{% extends 'customadmin/adminbase.html' %}
{% load static %}

  
{% block content %}


<div class="col-12">
  {% include 'includes/alerts.html' %}
  <div class="card recent-sales overflow-auto">

    <div class="filter">
        <button type="button" class="btn btn-info"><a style="text-decoration: none; color: white;" href="{% url 'add_coupon'  %}">Add Coupon</a></button>

      <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <li class="dropdown-header text-start">
          <h6>Filter</h6>
        </li>

        <li><a class="dropdown-item" href="#">Today</a></li>
        <li><a class="dropdown-item" href="#">This Month</a></li>
        <li><a class="dropdown-item" href="#">This Year</a></li>
      </ul>
    </div>

    <div class="card-body">
      <h5 class="card-title">Recent Sales <span>| Today</span></h5>

      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th scope="col">Coupon Code</th>
            <th scope="col"> Discount</th>
            <th scope="col">Minimum Amount</th>
            <th scope="col">Is Expired</th>
            <th scope="col">Delete</th>
            <!-- <th scope="col">Delete</th> -->
          </tr>
        </thead>
        <tbody>
          {% for cr in coupon %}
          <tr>


            <!-- <th scope="row"><div style="width: 5rem;"><img class="img-fluid" src="{{ br.image.url }}" alt=""></div></th> -->
            <!-- <th scope="row"><img class="img-fluid"  src="{{ br.cat_images.url }}" alt=""></th> -->
            <!-- <th scope="row"><a href="#"></a></th> -->
            <!-- <td>{{ br.id}}</td> -->
            <td>{{ cr.coupon_code}}</td>
            <td>{{ cr.discount_price }}</td>
            <td>{{ cr.minimum_amount }}</td>
            <!-- <td>{{ cr.is_expired }}</td> -->
            <td>

              {% if cr.is_expire == True  %}
              <button type="submit"  class="btn btn-outline-danger">Active</button>
              {% else %}
              <button type="submit"  class="btn btn-outline-warning">Is Active</button>
              {% endif %}
            
          </td>
          <td><a href="{% url 'delete_coupon' cr.id %}">Delete</a></td>
       
          </tr>
          {% endfor %}
        
        </tbody>
      </table>

    </div>

  </div>
</div>



{% endblock %}