{% extends 'customadmin/adminbase.html' %}
{% load static %}

  
{% block content %}
<section style="margin-top: 5rem;"></section>

<div class="col-12">
    <div class="card recent-sales overflow-auto">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>

          <li><a class="dropdown-item" href="#">Today</a></li>
          <li><a class="dropdown-item" href="#">This Month</a></li>
          <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
      </div>

      <div class="card-body">
       
        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">Order No</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Update</th>
              <th scope="col">Cancel</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <!-- <th scope="row"><img class="img-fluid"  src="{{ cr.images.url }}" alt=""></th> -->
              <!-- <th scope="row"><a href="#"></a></th> -->
              <!-- <td>{{ cr.id}}</td> -->
              <td>{{ order.order_number}}</td>
              <td><a style="text-decoration: none; color: white;" href="{% url 'orderdetail' order.id %}"></a>{{ order.Shipping.name}}</a><br>
              <p>{{ order.Shipping.user.email}}</p>
              <p>{{ order.Shipping.phone1}}</p>
              <p></p>
            </td>
              <td></td>
             
              <td></td>
              <td>{{ order.created_at}}</td>
              <td><span class="badge bg-success">{{ order.status}}</span> <br>
              {% for return in return_order %}
              {%  if order.order_number == return.order_number %}
              <p>Reason: {{return.reason}}</p>
              {% endif %}
              {% endfor %}
              
              </td>
              
              <td>
                {%  if order.status == 'Return Requested' %}
                <form action="{% url 'returnUpdate' order.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit"  class="btn btn-outline-yellow">Accepet</button>
                </form>
                {% elif order.status == 'Return Accept' %}
                <p>hai</p>
                {% else %}
                <form action="{% url 'adminOrderUpdate' order.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit"  class="btn btn-outline-danger">Update</button>
                </form>
                {% endif %}
              </td>
              <td>
              
                <form action="{% url 'cancelorder' order.id %}" method="POST">
                    {% csrf_token %}
                    {% if order.status == 'Cancelled'  %}
                    <p>order Cancelled</p>
                    {% else %}
                    <button type="submit" onclick="showConfirm()" class="btn btn-outline-danger">Cancel</button>
                    {% endif %}
                  </form>
              </td>
              
              <!-- <td>
                <form action="{% url 'cancel_order' order.id %}" method="POST"> 
                  {% csrf_token %}
                  {% if order.status == 'Cancelled'  %}
                  <p>order Cancelled</p>
                  {% else %}
                  <button type="submit" onclick="showConfirm()" class="btn btn-outline-danger">Cancel</button>
                  {% endif %}
                  </form>
            </td> -->
            </tr>
            {% endfor %}
          
          </tbody>
        </table>

      </div>

    </div>
  </div>
  </section>


  <script>
    function showConfirm() {
      var confirmed = confirm("Are you sure you want to Cancel this Order?");
  
      if (confirmed) {
          // Perform the action if the user clicks "OK"
      } else {
          // Cancel the action if the user clicks "Cancel"
      }
  }
  </script>
  {% endblock  %}