{% extends 'customadmin/adminbase.html' %}
{% load static %}

  
{% block content %}


<section style="margin-top: 5rem;">

<div class="col-12 ">
    <div class="card recent-sales overflow-auto">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>

          <li><a class="dropdown-item" href="#">Today</a></li>
          <li><a class="dropdown-item" href="#">This Month</a></li>
          <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
      </div>

      <div class="card-body">
        

        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Variant Category</th>
              <th scope="col">Value</th>
              <th scope="col">Is Active</th>
              <th scope="col">Created Date</th>
              <!-- <th scope="col">{{products}}</th> -->
            </tr>
          </thead>
          <tbody>
            {% for prv in productv %}
            <tr>
      
              <td>{{ prv.product}}</td>
              <td>{{ prv.variation_category }}</td>
              <td>{{ prv.variation_value }}</td>
              <!-- <td>{{ prv.is_active }}</td> -->
          
              <td>
                <form action="{% url 'blockVariant' prv.id %}" method="POST"> 
                {% csrf_token %}
                {% if prv.is_active == True  %}
                <button type="submit" onclick="showConfirm()" class="btn btn-outline-danger">Block</button>
                {% else %}
                <button type="submit" onclick="showConfirm()" class="btn btn-outline-warning">Unblock</button>
                {% endif %}
              </form>
            </td>
            <td>
              <form action="{% url 'deleteVariant' prv.id %}" method="POST"> 
              {% csrf_token %}
              <button type="submit" onclick="showConfirm()" class="btn btn-outline-danger">Delete</button>
            </form>
          </td>
              
            </tr>
            {% endfor %}
          
          </tbody>
        </table>

      </div>

    </div>
  </div>
  </section>


  <script>
    function showConfirm() {
      var confirmed = confirm("Are you sure you want to Block this User?");
  
      if (confirmed) {
          // Perform the action if the user clicks "OK"
      } else {
          // Cancel the action if the user clicks "Cancel"
      }
  }
  </script>
{% endblock %}