{% extends 'customadmin/adminbase.html' %}
{% load static %}

  
{% block content %}


<section style="margin-top: 5rem;">

<div class="col-12 ">
    <div class="card recent-sales overflow-auto">

      <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li class="dropdown-header text-start">
            <h6>Filter</h6>
          </li>

          <li><a class="dropdown-item" href="#">Today</a></li>
          <li><a class="dropdown-item" href="#">This Month</a></li>
          <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
      </div>

      <div class="card-body">
        

        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Brand</th>
              <th scope="col">Gender</th>
              <th scope="col">Category</th>
              <th scope="col">edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for pr in products %}
            <tr>
              <th scope="row"><div style="width: 3rem;"><img class="img-fluid" src="{{ pr.images.url }}" alt=""></div></th>
              <!-- <th scope="row"><a href="#"></a></th> -->
              <!-- <td>{{ cr.id}}</td> -->
              <!-- <td><div></div> <img class="img-fluid"  src="{{ pr.images.url }}"> </td> -->

              <td>{{ pr.brand}}</td>
              <td><a href="#" >{{ pr.gender }}</a></td>
              <td>{{ pr.category }}</td>
              <td> <a href="{% url 'edit_product' pr.id %}" class="text-primary">UPDATE</a></td>
              <td></td>
            </tr>
            {% endfor %}
          
          </tbody>
        </table>

      </div>

    </div>
  </div>
  </section>

{% endblock %}