<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container w-50 text-center p-3 my-5 bg-info">
        <form action=" " method="POST">
            {% csrf_token %}
            {{uform}}
            <br>
            <button class="btn btn-primary mb-4" type="submit" >Submit</button>
    
        </form>
    </div>

</body>
</html>